.Dictionary section {
  background: white;
  padding: 20px 20px 20px 20px;
  margin: 10px auto;
  border: 2px solid #dfe1e5;
  border-radius: 20px;
  box-shadow: 2px 2px 5px #556c72;
}

.Dictionary input {
  width: 100%;
  padding: 6px 4px;
  margin: 10px auto;
  border: 1px solid darkgoldenrod;
  border-radius: 8px;
  color: #194853;
}
.Dictionary .hint {
  font-size: 12px;
  color: darkgoldenrod;
}
